<div class="container">
  <!-- when the cart is empty -->
  <div class="text-center my-5" *ngIf="cartData.data[0].numInCart === 0;">
    <h4>Your Cart Is Empty</h4>
    <button type="button" class="btn btn-lg btn-primary mt-3" name="button" routerLink="/">GO TO SHOP</button>
  </div>

  <!-- Cart Not empty -->
  <ng-container *ngIf="cartData.data[0].numInCart !== 0;">
    <div class="row">
      <div class="col-md-4 offset-2">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>SubTotal</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let c of cartData.data; let i=index">
              <td class="d-flex align-items-center justify-content-around">
                <img [src]="c.product.image" height="60" class="order-1" alt="{{c.product.name}}">
                <span class="text-danger mr-md-2" style="cursor: pointer;"><i class="fa fa-trash" (click)="cartService.DeleteProductFromCart(i)"></i></span>
              </td>

              <td><p>{{c.product.name}}</p></td>

              <td><p>{{c.product.price | currency: 'USD'}}</p></td>

              <td>
                <form>
                  <div class="value-button" id="decrease" (click)="ChangeQuantity(i, false)">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="number" [value]="c.numInCart" id="number" readonly [max]="c.product.quanity">
                  <div class="value-button" id="increase" (click)="ChangeQuantity(i, true)">
                    <i class="fa fa-plus"></i>
                  </div>
                </form>
              </td>

              <td>
                <p>{{cartService.CalculateSubTotal(i) | currency: 'USD'}}</p>
              </td>
            </tr>

            <tr class="borde-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>{{cartTotal | currency: 'USD'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
